.cover {
  display: grid;
  place-items: center;
}

h1 {
  color: rgb(1, 129, 44);
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

h3 {
  text-align: center;
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  margin: 0 40px;
  line-height: 1.5;
}

.header .topnav > li {
  float: left;
  margin: 0 40px;

  background-color: #3e0748;
  border: 2px;
  border-bottom: none;
}

.submenu {
  line-height: 1.5;
  font-size: 30px;
  /* display: none; */
}

.submenu :active {
  display: block;
}

.navigator {
  text-align: center;
  min-width: 999px;
  min-height: 56px;
  text-decoration: none;
}

/* video label */
.v {
  color: #9e9b9b;
}

/* exercise label */
.e {
  color: #9e9b9b;
}

[target="_blank"] {
  text-decoration: none;
  line-height: 30px;
  height: auto;
  letter-spacing: normal;
  width: auto;
  text-decoration-color: cyan;
}

.to-top {
  text-decoration: none;
}
